:root {
    --bodyBgClr : #e8d0a9;
    --headerFooterClr : #c1dad6;
    --button : #acd1e9;
    --buttonHover : #6d929b;
    --buttonActive : #b7afa3;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bodyBgClr);
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
}

button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    background-color: var(--headerFooterClr);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title {
    font-size: 48px;
    background-image: linear-gradient(to right, #cc6600, #fffbd0, #ff9900, #c13100);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    font-family: 'Permanent Marker', cursive;
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 10px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
}

.penClr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    background-color: var(--button);
}

.penClr:hover {
    transform: scale(1.05);
    background-color: var(--buttonHover);
}

.bgClr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    background-color: var(--button);
}

.bgClr:hover {
    transform: scale(1.05);
    background-color: var(--buttonHover);
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: var(--button);
    border-radius: 4px;
}

button.active {
    background-color: var(--buttonActive);
    color: red;
}

#clearBtn:active {
    background-color: var(--buttonActive);
}

#gridBtn:active {
    background-color: var(--buttonActive);
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 50px;
    height: 35px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: grey;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: wheat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: grey;
}

.grid {
    display: grid;
    width: 600px;
    height: 500px;
    background-color: var(--buttons);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
}

.grid-element {
    user-select: none;
}

.grid-border {
    border: 0.1px dotted grey;
}


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    background-color: var(--headerFooterClr);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-linkedin {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-wordpress {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg)scale(1.2);
}

.fa-linkedin:hover {
    transform: rotate(360deg)scale(1.2);
}

.fa-wordpress:hover {
    transform: rotate(360deg)scale(1.2);
}
